@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  font-size: 62.5%; /* 10px */
  --main-color: #0b56a7;
  --title-color: #111;
  --text-color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: var(--main-color);
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

body {
  font: 2rem 'Pretendard', sans-serif;
}
