@charset 'utf-8';

.inner {
  width: 140rem;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.3); */
  position: relative;
}
.inner-wide {
  width: 160rem;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

#header::before {
  content: '';
  position: absolute;
  top: 9.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background: #b3b3b3;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}

#header.active::before {
  opacity: 1;
}

#header::after {
  content: '';
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  transform: translateY(-100%);
  transition: 0.3s;
}

#header.active::after {
  transform: translateY(0%);
}

#header.w-bg {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

#header.w-bg .logo a,
#header.active .logo a {
  background-image: url(../img/logo_blue_01.png);
}

#header.w-bg .gnb li a,
#header.active .gnb li a {
  color: #000;
}

#header.w-bg .btn-lang,
#header.active .btn-lang {
  background-image: url(../img/btn_language_black_01.png);
}
#header.w-bg .btn-lang::after,
#header.active .btn-lang::after {
  border-top-color: #000; /* bdtc */
}

#header.w-bg .btn-m-menu,
#header.w-bg .btn-menu,
#header.active .btn-menu {
  background-image: url(../img/ico-menu-b.svg);
}

#header nav > * {
  z-index: 1;
}

.submenu-wrap {
  position: absolute;
  top: 13.5rem;
  left: 15rem;
  /* background: #5f5; */
  z-index: 1;

  display: none;
}
.submenu-wrap ul {
  display: flex;
  gap: 6rem;
}

.submenu-wrap ul li dl dt {
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--title-color);
}

.submenu-wrap ul li.on dl dt {
  color: var(--main-color);
}

.submenu-wrap ul li dl dd {
  font-size: 1.8rem;
  line-height: 1.78;
  color: #666;
}
.submenu-wrap ul li dl dt + dd {
  margin-top: 2.4rem;
}

.submenu-wrap ul li dl dd a {
  display: flex;
  align-items: center;
  /* border: 1px solid #000; */
}

.submenu-wrap ul li dl dd a::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--main-color);
  transform: translateX(0px);
  opacity: 0;
  transition: 0.3s;
}
.submenu-wrap ul li dl dd a:hover::before {
  opacity: 1;
  transform: translateX(-16px); /* trftx */
}

.banner-slide {
  position: absolute;
  top: 13.5rem;
  right: 15rem;
  background: #5f5;
  z-index: 1;
  width: 41.3rem;
  height: 20.5rem;

  display: none;
}

#header nav {
  height: 9.5rem;
  /* background: #5f5; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.logo a {
  display: block;
  width: 17rem;
  height: 2.4rem;
  background: url(../img/logo.svg) no-repeat 0 0 / contain;
}
.gnb {
  display: flex;
  margin-right: auto; /* mra */
  margin-left: 6.5rem;
}
.gnb li a {
  display: block;
  /* border: 1px solid #000; */
  padding: 0 2.5rem;
  font-weight: 600;
  color: #fff;
  height: 9.5rem;
}

.gnb li a b {
  display: flex;
  align-items: center;
  height: 100%;
  /* border: 1px solid #ff0; */
  position: relative;
}
.gnb li a b::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  transition: 0.3s;
  background: var(--main-color);
}

.gnb li.on a b::after {
  width: 100%;
}

.util {
  display: flex;
  gap: 1rem;
  position: relative;
}

.btn-lang {
  width: 4.4rem;
  height: 2.5rem;
  background: url(../img/btn_language_white_01.png) no-repeat 0 0 / contain;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-lang::after {
  content: '';
  display: block;
  /* width: 4px;
  height: 4px;
  background: #ff0; */

  /* 삼각형 그리기 */
  border: 4px solid transparent;
  border-top-color: #fff;
}

.lang-select {
  position: absolute;
  top: 36px;
  left: 4px;
  background: #fff;
  padding: 10px;
  height: 3.6rem;
  display: none;
}
.lang-select::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid transparent;
  border-bottom-color: #fff;
}

.lang-select a {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--title-color);
  text-decoration: underline; /* tdu */
}

.btn-menu {
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/ico-menu.svg) no-repeat 0 0 / contain;
}

.btn-m-menu {
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/ico-menu.svg) no-repeat 0 0 / contain;
  display: none;
}

/* 모바일 용 전체메뉴 */
.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: none;
}
.m-submenu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100vh;
  background: #fff;
  z-index: 100;
  padding: 30px 11.29%;
  transform: translateX(100%);
  transition: 0.3s;
}
.m-submenu-wrap.active {
  transform: translateX(0%);
}

.m-gnb {
  background: #ff5;
}
.m-gnb > li {
  border: 1px solid #000;
  padding: 1.5rem 0;
}
.m-gnb > li > strong {
  display: block;
  font-weight: 700;
  font-size: 2.1rem;
  color: var(--title-color);
  padding: 1rem 0;
  transition: 0.4s;
  background: tomato;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-gnb > li.on > strong {
  background: skyblue;
}

.m-gnb > li > strong::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  border: solid #000;
  /* bdw1-1-0-0 */
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
  transition: 0.3s;
}
.m-gnb > li.on > strong::after {
  transform: rotate(315deg);
}

.m-gnb-sub {
  margin-left: 4rem;
  display: none;
}
.m-gnb-sub li a {
  font-size: 1.8rem;
  line-height: 1.5;
}

.visual {
  height: 108rem;
  /* background: skyblue; */
  position: relative;
  overflow: hidden;
}
.video {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
}
.video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.video iframe {
  width: 100%;
  height: 100%;
}

.visual .inner {
  position: relative;
  height: 100%;
}

.visual-con {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  /* background: #55f; */
}

.visual-con h2 {
  font-weight: 700;
  font-size: 7rem;
  color: #fff;
  line-height: 1.2142;
  letter-spacing: -0.25px;
}

.visual-con h2 b {
  /* border: 1px solid #ff0; */
  position: relative;
}

.visual-con h2 b::after {
  content: '';
  display: block;
  width: 1870%;
  height: 1px;
  background: #fff;

  position: absolute;
  bottom: 12px;
  left: 16px;
}

.visual-con a {
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;

  position: absolute;
  bottom: 2rem;
  right: 0;

  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.visual-con a::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/ico-arr-w.svg) no-repeat 50% / cover;
}

.sec-title {
  /* background: khaki; */
  font-weight: 700;
  color: var(--title-color);
}
.sec-title h3 {
  font-size: 2.4rem;
  display: flex;
  gap: 0.9rem;
  align-items: flex-end; /* aife */
  /* background: #5f5; */
}
.sec-title h3::after {
  content: '';
  display: block;
  width: 13rem;
  height: 1px;
  background: #9c9c9c;
  margin-bottom: 0.5rem;
}
.sec-title p {
  /* fz4.8r+lh1.4+mt4.5r */
  font-size: 4.8rem;
  line-height: 1.4;
  margin-top: 4.5rem;
}

.business {
  padding: 17rem 0 9rem;
}

.business-list {
  display: flex;
  margin-top: 7rem;
}
.business-list li {
  /* border: 1px solid #000; */
  height: 37rem;

  /* fx1-1-20p */
  flex: 1 1 20%;
  transition: 0.3s;

  background: no-repeat 0 0 / cover;

  /* detail info를 위한 설정 */
  position: relative;
  overflow: hidden;
}
.business-list li:nth-child(1) {
  background-image: url(../img/business-pic1.png);
}
.business-list li:nth-child(2) {
  background-image: url(../img/business-pic2.png);
}
.business-list li:nth-child(3) {
  background-image: url(../img/business-pic3.png);
}
.business-list li:nth-child(4) {
  background-image: url(../img/business-pic4.png);
}
.business-list li:nth-child(5) {
  background-image: url(../img/business-pic5.png);
}

.business-list li::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(255, 0, 0, 0.5); */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  opacity: 0;
  transition: 0.3s;
}

/* hover */
.business-list li:hover {
  flex: 1 1 40%;
}

.business-list li:hover::before {
  opacity: 1;
}

.business-list li a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid #f00; */
  width: 100%;
  height: 100%;
  padding: 2.7rem;
  font-weight: 600;
  font-size: 2.6rem;
  color: #fff;
}

.detail-info {
  /* background: tomato; */
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2.7rem;

  bottom: -50px;
  opacity: 0;
}

.detail-info dt {
  font-weight: 600;
}

.detail-info dd {
  font-weight: 200;
  font-size: 1.5rem;
  margin-top: 1.8rem;
}

/* hover 효과 */
.business-list li:hover .detail-info {
  bottom: 0;
  opacity: 1;
  transition: 0.3s 0.4s;
}
.business-list li:hover span {
  opacity: 0;
}

.pr {
  padding: 8rem 0 10rem;
}

.pr-list {
  display: flex;
  gap: 2rem;
  margin-top: 7rem;
}
.pr-list li {
  /* border: 1px solid #000; */
  height: 50.2rem;
  flex: 1 1 30%;

  background: no-repeat 0 0 / cover;
  position: relative;
}

.pr-list li:nth-child(1) {
  background-image: url(../img/pr-pic1.png);
}
.pr-list li:nth-child(2) {
  background-image: url(../img/pr-pic2.png);
}
.pr-list li:nth-child(3) {
  background-image: url(../img/pr-pic3.png);
}

.pr-list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s;
}

.pr-list li:hover::before {
  opacity: 1;
}

.pr-list li a {
  display: block;
  padding: 2.7rem;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 2.6rem;
  color: #fff;

  position: relative;
}

.management {
  background: #f3f3f3;
  padding: 8rem 0 10rem;
}

.management-list {
  background: tomato;
  height: 368px;
}

.heritage {
  padding: 18rem 0 19.2rem;
}

.heritage-con {
  /* background: #5f5; */

  display: flex;
  flex-direction: column; /* fxdc */
  align-items: center;

  text-align: center;
}
.heritage-con h4 {
  font-weight: 900;
  font-size: 7.2rem;
  color: var(--title-color);
}
.heritage-con strong {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--title-color);
  margin-top: 6rem;
}
.heritage-con p {
  margin-top: 4rem;
  font-size: 2.4rem;
}
.heritage-con a {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--title-color);
  margin-top: 8.2rem;

  align-self: flex-end; /* asfe : 교차축 방향으로 아이템을 개별 배치 */

  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.heritage-con a::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/ico-arr.svg) no-repeat 50%;
}

#footer {
  padding: 11.6rem 0 13.3rem;
  background: #000 url(https://www.hwaseunggroup.com/kor/assets/img/common/footer_bg_.png) no-repeat 0 0 / cover fixed;
}

.foot-links {
  /* border: 1px solid #f00; */
  display: flex;
  justify-content: space-between;
}

.foot-menu ul {
  display: flex;
  gap: 14rem;
}

.foot-menu ul li dl dt {
  font-weight: 600;
  font-size: 2.2rem;
  color: #fff;
}

.foot-menu ul li dl dd {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 1.89;
  color: rgba(255, 255, 255, 0.5);
}

.foot-menu ul li dl dd:first-of-type {
  margin-top: 3.6rem;
}

.foot-family {
  /* background: #55f; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.family-site {
  border: 1px solid #fff;
  width: 28.6rem;
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.family-site select {
  background: transparent;
  color: #fff;
  appearance: none;
  padding: 0 1.5rem;
  flex: 1 1 auto;
}

.family-site select option {
  background: #333;
}

.family-site::after {
  content: '';
  display: block;
  /* background: #f00; */
  width: 1.2rem;
  height: 1.2rem;
}

.foot-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  /* mt7r+pt3.2r+tac+fw200+fz1.4r+c#fff */
  margin-top: 7rem;
  padding-top: 3.2rem;
  text-align: center;
  font-weight: 200;
  font-size: 1.4rem;
  color: #fff;
}

.policy-list {
  /* mt3r+df+g2r */
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.policy-list li a {
  /* fw500+fz1.6r+c#fff */
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
}

.sns-list {
  margin-top: 12.6rem;
}
.sns-list > a {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  background: no-repeat 50%;
}
.sns-list > a.instagram {
  background-image: url(../img/ico-instagram.svg);
}

/* inner크기와 같은 분기점 생성 */
@media (max-width: 1600px) {
  .inner,
  .inner-wide {
    /* width: 924px; */
    width: 90.2344%;
  }

  .submenu-wrap {
    left: 4%;
  }
  .banner-slide {
    right: 4%;
  }

  .foot-menu ul {
    gap: 7rem;
  }
}

@media (max-width: 1300px) {
  .submenu-wrap {
    left: 3%;
  }
  .banner-slide {
    right: 3%;
  }
  .submenu-wrap ul li dl dt {
    font-size: 1.8rem;
  }
  .submenu-wrap ul li dl dd {
    font-size: 1.6rem;
  }
}

/* 태블릿 디자인 */
@media (max-width: 1024px) {
  /* .inner,
  .inner-wide {
    width: 924px;
    width: 90.2344%;
  } */

  .visual-con::after {
    width: 70.7792%; /* (654 / 924) * 100 */
  }

  .business-list li a {
    font-size: 1.8rem;
  }
  .pr-list li {
    height: 33.2rem;
  }
  .heritage-con {
    width: 71.4rem;
    width: 77.2727%;
    margin: 0 auto;
  }
  .heritage-con strong {
    font-size: 3.2rem;
  }
  .heritage-con p {
    font-size: 2.2rem;
  }
  .foot-links {
    width: 82.4rem;
    width: 89.1775%;
    margin: 0 auto;
  }

  .foot-menu ul {
    gap: 4.4rem;
  }

  .foot-menu ul li dl dt {
    font-size: 1.8rem;
  }
  .foot-menu ul li dl dd {
    font-size: 1.6rem;
  }

  .family-site {
    width: 24rem;
    height: 3rem;
    font-size: 1.4rem;
  }

  .policy-list li a {
    font-size: 1.4rem;
  }
}

/*  문제가 발생하는 해상도를 위한 분기 */
@media (max-width: 1200px) {
  #header nav {
    justify-content: space-between;
  }

  .gnb {
    display: none;
  }

  .btn-menu {
    display: none;
  }
  .btn-m-menu {
    display: block;
  }

  .business-list {
    flex-wrap: wrap;
  }
  .business-list li {
    flex: 1 1 30%;
  }

  .foot-links {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .foot-family {
    align-items: center;
  }
  .family-site {
    margin-top: 4rem;
  }
  .sns-list {
    order: -1; /* od */
    margin-top: 0;
  }

  .policy-list {
    margin-top: 2.2rem;
  }

  .foot-copyright {
    margin-top: 3.8rem;
  }
}

/* 모바일 디자인 */
@media (max-width: 700px) {
  :root {
    font-size: 90%;
  }
  .inner,
  .inner-wide {
    /* width: 350px; */
    width: 89.7436%;
  }

  #header nav {
    height: 5.7rem;
  }

  .logo a {
    width: 8.5rem;
    height: 1.2rem;
  }

  .btn-lang {
    width: 3.7rem;
    height: 1.7rem;
  }

  .btn-m-menu,
  .btn-menu {
    width: 1.7rem;
    height: 1.7rem;
  }

  .visual {
    height: 54rem;
  }

  .visual-con h2 {
    font-size: 3rem;
  }
  .visual-con h2 b {
    position: initial;
  }
  .visual-con h2 b::after {
    left: 0;
    bottom: -7px;
  }

  .visual-con a {
    font-size: 1.3rem;
  }

  #container > section:not(.visual) {
    padding: 9rem 0;
  }

  .sec-title h3 {
    font-size: 1.2rem;
  }
  .sec-title p {
    font-size: 2.2rem;
  }

  .business-list li {
    flex: 0 1 50%;
    height: 21rem;
  }

  .business-list li a {
    font-size: 1.5rem;
  }

  .pr-list {
    flex-wrap: wrap;
    gap: 1.2rem;
  }
  .pr-list li {
    flex: 1 1 48%;
    height: 19.2rem;
  }
  .pr-list li a {
    font-size: 1.4rem;
  }

  .heritage-con {
    width: 100%;
  }

  .heritage-con h4 {
    font-size: 3rem;
  }
  .heritage-con strong {
    font-size: 1.6rem;
  }
  .heritage-con p {
    font-size: 1.3rem;
  }
  .heritage-con a {
    /* background: #55f; */
    font-size: 1.3rem;
    width: 28.4rem;
    width: 81.1429%;

    height: 3.8rem;
    border: 1px solid #000;
    border-radius: 50px;
    justify-content: center;
    align-self: center; /* asc */
    align-self: initial;
    /* align-self: unset; */
  }

  #footer {
    padding: 6.3rem 0 8rem;
  }
  .foot-menu {
    display: none;
  }
  .foot-links {
    width: 19.4rem;
    width: 55.4286%;

    display: block;
  }
  .family-site {
    width: 100%;
    height: 3.5rem;
    margin-top: 2rem;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 62.5%;
  }
  .visual-con::after {
    width: 62%;
  }
  .visual-con a {
    bottom: -30px;
    left: 0;
    right: auto;
  }
}
